.fade-enter {
  opacity: 0.01;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
}

.fade-exit-active {
  transition: opacity 500ms;
}

.fade-enter-active {
  transition: opacity 1000ms;
}
